<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
</head>
<body style="margin:0; padding:0;" >
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
            bgcolor="#F7F7F7"
            style="background-color:#F7F7F7; padding:40px 0;">
        <tbody><tr>
            <td  width="100%">
                <table cellpadding="0" cellspacing="0"
                        width="600px" border="0" align="center" bgcolor="#FFFFFF"
                        style="border-collapse:collapse; border:0px; background-color:#FFFFFF; margin:0 auto;
                        font-family:'Noto-sans', Arial, sans-serif;">
                    <thead>
                        <tr>
                            <th colspan="2"
                                style="text-align: left; padding-left:28px; padding-top:28px; padding-bottom: 28px; padding-bottom:20px;">
                                <div>
                                    <img src="https://github.com/spaceone-dev/console-assets/blob/master/email/spaceone-top-logo.png?raw=true" width="162px" height="30px" alt="SpaceONE">
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td td colspan="2"
                                style="text-align: left; text-align: left; padding-left:24px; padding-right:24px; padding-bottom:20px; color:#222532;">
                                <!--notification message-->
                                <!--
                                    Bar color
                                    'INFO': '#A7A9B2',
                                    'ERROR': '#FF6A6A',
                                    'SUCCESS': '#60B731',
                                    'WARNING': '#FFCE02',
                                    'DEFAULT': '#858895'
                                -->

                                <div style="border-bottom:1px solid #E5E5E8; height:1px; margin-bottom:20px"></div>

                            <div  style="border-left: 4px solid {{ notification_type_color }}; padding-left:10px; margin-bottom:27px; ">
                                <h2 style="padding:0; margin:0; font-size:18px; padding-bottom:10px;">
                                    <strong>
                                        <!--If there is no link, delete 'a tag'-->
                                        {% if link is defined %}
                                        <a href="{{ link }}" target="_blank" style="color:#0069CC;" >
                                        {% endif %}
                                            {{ title }}
                                        {% if link is defined %}
                                        </a>
                                        {% endif %}
                                    </strong>
                                </h2>
                                <p style=" padding:0; margin:0; font-size:14px; line-height:1.5;">
                                    {{ description }}
                                    </p>
                            </div>
                            <!--notification details-->
                            <div style="line-height:1.5;">
                                {% for tag in tags %}
                                    <div style="padding:5px 0; ">
                                        <p style="padding:0; margin:0; font-size:14px; font-weight:bold; color:#858895;">
                                            {{ tag['key'] }}
                                        </p>
                                        <p style=" padding:0; margin:0; font-size:16px; ">
                                            {{ tag['value'] }}
                                        </p>
                                    </div>
                                {% endfor %}

                                <!--callback button-->
                                {% for callback in callbacks %}
                                <div style="padding-top:10px; padding-bottom:20px;">
                                        <button style=" border:1px solid black; background-color:white;
                                                        height:32px; line-height:30px; font-weight:bold; border-radius:4px;
                                                        text-align: center; text-decoration: none;"
                                                type="button"
                                                name="callback-button">
                                                    <a  href="{{ callback['url'] }}" target="_blank"
                                                        style="text-decoration:none; color:black;">
                                                        {{ callback['label'] }}
                                                    </a>
                                        </button>
                                    </a>
                                </div>
                                {% endfor %}

                                <!--end-->
                            </div>

                            <div style="border-bottom:1px solid #E5E5E8; height:1px; margin-top:14px"></div>

                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2"
                                style="padding-left:28px; padding-right:28px; padding-bottom:16px; font-size:14px; color:#858895;">
                                Occurred at :
                                <span style="font-weight:bold;">
                                    {{ occured_at }}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:14px; color:#858895; padding-left:28px" >
                                <div style="margin-bottom:40px;">
                                    <p style="padding:0px; margin:0px;">
                                        <img src="https://github.com/spaceone-dev/console-assets/blob/master/email/spaceone-bottom-logo.png?raw=true" width="30px" height="30px" alt="SpaceONE Logo" style="margin-bottom:2px;">
                                    </p>
                                    <p style="padding:0px; margin:0px;">
                                        © SpaceONE 2021
                                    </p>
                                </div>
                            </td>
                            <td width="156px" style="padding-left:28px; padding-right:28px;">
                                <table  cellpadding="0" cellspacing="0"
                                        style="border:0; margin-bottom:40px;">
                                    <tbody>
                                        <tr>
                                            <td style="text-align: center;" width="52px">
                                                <a href="https://www.youtube.com/channel/UCJrHbVMOd-zh2U9z35ZpJ0Q"
                                                    target="_blank"
                                                    style="font-size:12px; color:#858895; text-decoration:none;">
                                                    <p  style="padding:0px; margin:0px;">
                                                        <img src="https://github.com/spaceone-dev/console-assets/blob/master/email/youtube.png?raw=true" width="26px" height="22px" alt="Youtube">
                                                    </p>
                                                    <p style="padding:0px; margin:0px;">
                                                        Youtube
                                                    </p>
                                                </a>
                                            </td>
                                            <td style="text-align: center;" width="52px">
                                                <a  href="https://github.com/spaceone-dev"
                                                    target="_blank"
                                                    style="font-size:12px; color:#858895; text-decoration:none;">
                                                    <p style="padding:0px; margin:0px;">
                                                        <img src="https://github.com/spaceone-dev/console-assets/blob/master/email/github.png?raw=true" width="26px" height="22px" alt="Github">
                                                    </p>
                                                    <p style="padding:0px; margin:0px;">
                                                        Github
                                                    </p>
                                                </a>
                                            </td>
                                            <td style="text-align: center;" width="52px">
                                                <a  href="https://www.spaceone.org/" target="_blank"
                                                    style="font-size:12px; color:#858895; text-decoration:none;">
                                                    <p style="padding:0px; margin:0px;">
                                                        <img src="https://github.com/spaceone-dev/console-assets/blob/master/email/docs.png?raw=true" width="26px" height="22px" alt="Docs">
                                                    </p>
                                                    <p style="padding:0px; margin:0px; ">
                                                        Docs
                                                    </p>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </td>
        </tr></tbody>
    </table>
</body>
</html>

